APP_NAME=TrueAdmin
APP_ENV=local
APP_URL=http://localhost:9501

DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=15432
DB_DATABASE=trueadmin
DB_USERNAME=trueadmin
DB_PASSWORD=trueadmin
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=
TRUEADMIN_SUPER_ADMIN_PASSWORD=
TRUEADMIN_ADMIN_PASSWORD=
