APP_NAME=TrueAdmin
APP_ENV=local
APP_URL=http://localhost:9501

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=trueadmin
DB_USERNAME=trueadmin
DB_PASSWORD=trueadmin

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=change-me

