APP_NAME=TrueAdmin
APP_ENV=dev

DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=15432
DB_DATABASE=trueadmin
DB_USERNAME=trueadmin
DB_PASSWORD=trueadmin
DB_CHARSET=utf8
DB_COLLATION=
DB_PREFIX=

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET=
JWT_TTL=7200
TRUEADMIN_SUPER_ADMIN_PASSWORD=
TRUEADMIN_ADMIN_PASSWORD=
FILE_DISK=local
FILE_MAX_SIZE=20971520
FILE_LOCAL_PUBLIC_URL=/uploads
OSS_ACCESS_ID=
OSS_ACCESS_SECRET=
OSS_BUCKET=
OSS_ENDPOINT=
OSS_PUBLIC_URL=
OSS_UPLOAD_EXPIRES=900
OSS_USE_SSL=true
OSS_IS_CNAME=false
FILE_REMOTE_CONNECT_TIMEOUT=3
FILE_REMOTE_TIMEOUT=15
FILE_REMOTE_MAX_REDIRECTS=3
